# System & build files
.DS_Store
node_modules/
public/
tsconfig.tsbuildinfo
.obsidian/
.quartz-cache/
.stfolder/
.smart-env/
.replit
replit.nix

# Quartz
.gitignore
private/
.trash
prof/
Templates/
Context/

# Custom content folders to ignore
content/00 Meta/
content/Information/Fiction_Ideas/
content/Information/References/Conversations/
content/Information/References/Websites/
content/Information/References/PDFs/
content/Output/Day_Jobs/
content/Logs/Kids Log.md
smart-chats/
Excalidraw/
content/70 RPGs/
content/50 Personal/
content/Indexes/Tools and Resources
