.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
.stfolder
.smart-env
private/
.replit
replit.nix
.trash
Templates
Context/
content/Information/References/Conversations
content/Information/References/Websites
content/Information/References/PDFs
content/Information/Fiction\ Ideas
50\ Personal/
"50 Personal"/
content/Output/Day_Jobs/
70\ RPGs/
"70 RPGs"/
Excalidraw/
Relations\ Testing/
"Relations Testing"/
smart-chats/
"00 Meta/AI Prompts"/
00\ Meta/AI\ Prompts/
"00 Meta/Dataviews"/
00\ Meta/Dataviews
