.sidebarLinks {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.sidebar-ul {
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-left: 0;

    & > li {
      margin: 1rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
      }
    }
  }
}
